.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.obsidian
.stfolder
*.local
.env.keys
out
.envrc
.netlify
.git
content/**/.gitignore
content/local
