@use "./variables.scss" as *;
@use "./base.scss";
@use "./font.scss";
@use "./figs.scss";

// Fix images in headers
h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

body {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.125), var(--light));
  background-attachment: fixed;
}

section {
  background: none;
}


.repo-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  img {
    margin: 0 1rem;
    max-width: calc(100vw - 2rem);
  }
}

html[saved-theme="light"] {
  // ayu.light.vcs.modified
  --callout-color: #478acc;
  // ayu.light.vcs.modified
  --callout-border: #478acc;
  // ayu.light.editor.selection.active
  --callout-bg: #035bd626;
  // ayu.light.vcs.modified
  --callout-quote-color: #478acc;
  // ayu.light.vcs.modified
  --callout-quote-border: #478acc;
  // ayu.light.editor.selection.active
  --callout-quote-bg: #035bd626;

  .dark-only {
    display: none !important;
  }
}

html[saved-theme="dark"] {
  .light-only {
    display: none !important;
  }
  // ayu.migrage.syntax.constat
  --callout-color: #dfbfff;
  // ayu.migrage.editor.findMatch.active
  --callout-border: #695380;
  // ayu.migrage.editor.findMatch.inactive
  --callout-bg: #69538066;

  --callout-quote-color: #dfbfff;
  --callout-quote-border: #695380;
  --callout-quote-bg: #69538066;
}

.cube {
  margin: 0 0.25em;
}

@media all and ($mobile) {
  .cube.title {
    display: none;
  }
  .page > #quartz-body .sidebar.left {
    display: none;
    padding: 0;
    margin: 0;
  }
  header {
    height: 0;
    padding: 0;
    margin: 0;
  }

  #quartz-body {
    min-height: 100vh;
  }

  .breadcrumb-container {
    display: flex;
  }
}
