@use "./variables.scss" as *;

.projects {
  display: grid;
  color: var(--callout-abstract-color);

  .pf-col {
    display: flex;
    flex-direction: column;
  }
  .pf-cell {
    border: 1px solid var(--callout-abstract-border);
    background-color: var(--callout-abstract-bg);
    margin: 1em;
    border-radius: 1em;
    max-height: fit-content;
    padding: 1em;
  }

  .img-wrapper {
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    height: 12em;
    width: 80%;
    display: flex;
    transition: 0.5s;

    img {
      height: 150%;
      max-width: none;
      max-height: none;
      transition: 0.5s;
    }

    &:hover {
      background: var(--highlight);
      img {
        translate: 0 -10px;
      }
    }
  }
  svg.external-icon {
    display: none;
  }
}

@media all {
  .projects {
    grid: none/100%;
  }
}
@media all and (min-width: 1358px) {
  .projects {
    grid: none/50% 50%;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  .skill {
    width: 5em;
    height: 5em;
    border-radius: 1em;
    color: var(--callout-color);
    border: 1px solid var(--callout-border);
    background: var(--callout-bg);
    transition: 0.5s;

    &:hover {
      transform: translateY(-0.5em);
      box-shadow: 0px 1em 1em -1em var(--secondary);
    }

    svg {
      padding: 1em;
      fill: var(--callout-color);
    }
  }
}

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;

  svg {
    height: 2em;
    width: auto;
    transition: 0.25s;
    fill: var(--secondary);

    &:hover {
      fill: var(--tertiary);
    }
  }

  a.internal {
    background: none;
  }
  svg.external-icon {
    display: none;
  }
}
